table{
    width: 310;
    margin: 50px auto;
    background-color: rgb(45, 182, 236);
    border: none;
    border-radius: 10px;
    padding: 0px 20px 20px;
}
.heading{
    color: #603;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
#input,#answer{
    height: 50px;
    font-size: 30px;
    text-align: right;
    border: none;
    width: 260px;
}
#input{
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 2px black;
    color: #690;
}
#answer{
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px black;
}
input[type=button]{
    height: 60px;
    width: 60px;
    color: rgb(44, 182, 236);
    background-color: rgb(250, 244, 244);
    margin: 1px;
    border-radius: 8px;
    border: 0px;
    font-weight: bold;
    font-size: 25px;
}
input[type=button]:hover{
    background-color: #347;
    color: #000;
    cursor: pointer;
}